#content1 {
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 64px;
    position: relative; /* Added to help with positioning the project cells */
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.projects-around-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 40px;
    max-width: 80vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically around title */
    z-index: 1;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.project {
    width: 90%;
    border: var(--accent-foreground) solid 1px;
    color: var(--accent-foreground);
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    transition-duration: 400ms;
}

.project:hover {
    color: var(--foreground-inv);
    background-color: var(--accent-foreground);
    transition-duration: 400ms;
}

.project .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-top: 10px;
    background-color: var(--accent-foreground);
    -webkit-mask-size: contain;
    mask-size: contain;
    transition-duration: 400ms;
}

.project:hover .icon {
    background-color: var(--foreground-inv);
}
